$vh-color-light-bg-primary: oklch(0.76 0 0);
$vh-color-light-bg-secondary: oklch(0.8 0 0);
$vh-color-dark-bg-primary: oklch(0.24 0 0);
$vh-color-dark-bg-secondary: oklch(0.2 0 0);

$vh-color-light-text-primary: oklch(0.22 0 0);
$vh-color-light-text-interactive: oklch(0.37 0.1871 8.35);
$vh-color-light-text-accent: oklch(0.22 0 0);
$vh-color-dark-text-primary: oklch(0.78 0 0);
$vh-color-dark-text-interactive: oklch(0.63 0.1871 8.35);
$vh-color-dark-text-accent: oklch(0.88 0 0);

$vh-color-light-bg-interactive: oklch(0.37 0.1871 8.35);
$vh-color-dark-bg-interactive: oklch(0.63 0.1871 8.35);

$vh-color-light-border-primary: oklch(0.175 0 0);
$vh-color-dark-border-primary: oklch(0.825 0 0);
