@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$vh-typography-font-size-sm: 0.75rem;
$vh-typography-font-size-md: 1rem;
$vh-typography-font-size-lg: 1.5rem;
$vh-typography-font-size-xl: 2.25rem;

$vh-typography-font-weight-base: 400;
$vh-typography-font-weight-semi-bold: 700;
$vh-typography-font-weight-bold: 900;

@mixin family-base {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@mixin paragraph {
  @include family-base();

  font-size: $vh-typography-font-size-md;
  font-weight: $vh-typography-font-weight-base;
}

@mixin heading-1 {
  @include family-base();

  font-size: $vh-typography-font-size-xl;
  font-weight: $vh-typography-font-weight-bold;
}

@mixin heading-2 {
  @include family-base();

  font-size: $vh-typography-font-size-lg;
  font-weight: $vh-typography-font-weight-bold;
}

@mixin heading-3 {
  @include family-base();

  font-size: $vh-typography-font-size-md;
  font-weight: $vh-typography-font-weight-bold;
}

@mixin heading-4 {
  @include family-base();

  font-size: $vh-typography-font-size-md;
  font-weight: $vh-typography-font-weight-semi-bold;
}
