@import "../tokens/color.module";

.root {
  display: flex;
  flex-direction: column;

  .content {
    margin: 48px auto 48px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: none;
    flex-direction: column;
    width: 65vw;
  }
}
